* {margin: 0}

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 100%;
    height: 100vh;
    @extend %center;
    font-family: 'Roboto', sans-serif;
    
    .container {
        width: 1300px;
        max-width: 100vw;
        background: #eee;
        margin: auto;
        @extend %center;
        height: 800px;
        max-height: 100vh;
        position: relative;
        border-radius: 2rem;

        h1 {
            font-family: 'Raleway', sans-serif;
            font-size: 3rem;
            position: absolute;
            top: 20px;
            text-decoration: underline
        }

        h3 {
            font-size: 1.4rem;
            position: absolute;
            top: 80px;
        }

        div {
            width: 100%;
            @extend %center;
            flex-direction: column;
        }

        .settings {
            display: flex;
            flex-direction: column;
            width: 70%;
            @extend %center;

            textarea {
                resize: none;
                height: 100px;
                width: 70%;
                border-radius: 10px;
                outline: none;
                padding: 0.5rem;
            }

            button {
                margin: 10px;
                width: 6rem;
                height: 3rem;
                font-size: 1.6rem;

                &.extreme {
                    font-size: 0.7rem;
                    width: 5rem;
                    height: 2rem;

                    &.enabled {
                        background: red;
                    }
                }
            }

            .slider-container {
                width: 50%;
                margin: 0.6rem;
                border: solid gray 2px;
                border-radius: 1rem;
                padding: 0.5rem;
            }

            .slider {
                -webkit-appearance: none;
                width: 100%;
                background: linear-gradient(to right, #13cc7f 0%, #fcff30 50%, #db4517 100%);
                background-position: center;
                background-repeat: no-repeat;
                overflow: hidden;
                outline: none;
                border-radius: 1rem;
                display: block;
                margin: auto;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: 20px;
                    height: 20px;
                    background: #2293df;
                    position: relative;
                    z-index: 3;
                    border-radius: 1rem;
                   }
                   
                   &::-webkit-slider-thumb:after {
                    content: " ";
                    width: 160px;
                    height: 10px;
                    position: absolute;
                    z-index: 1;
                    right: 20px;
                    top: 5px;
                    background: #000000;
                   }
            }
        }

        .result {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            width: 70%;
            @extend %center;

            textarea {
                resize: none;
                height: 100px;
                width: 70%;
                border-radius: 10px;
                outline: none;
                padding: 0.5rem;
            }
        }

        ul {
            display: flex;
            list-style: none;
            width: 100%;
            flex-wrap: wrap;
            padding: 0;
            @extend %center;
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;

            li {
                margin: 0.3rem 0.7rem;
                padding: 0;
                text-align: center;
                font-size: 0.8rem;

                &.disabled {
                    text-decoration: line-through;
                }
            }
        }
    }
}